*{
    margin: 0;
    padding: 0;
}

.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.bg-color {
        background-color: #1A0B2E;
    }
.btn {
        background: linear-gradient(to bottom , #9100F8  , #FB09B4, #F7E93F);
        padding: 12px 40px 12px 16px;
        color: #ffffff;
        border-radius: 1000px;
        font-size: 1rem;
        font-weight: 600;
        border: none;
        cursor: pointer;
}
                                    /* header  */

nav {
    max-width: 1200px;
    margin: auto;
    height: 92px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    .display-2 {
                visibility: hidden;
            }
nav ul {
    display: flex;
    list-style: none;
    gap: 32px;
}

nav ul a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1rem;
    font-weight: 500;
    line-height: 120%;
}
nav h2 {
    color: #ffffff;
    font-size: 2.5rem;

}
.text-color{
    color: #ffffff;
}
.gradient-text {
       background: linear-gradient(to bottom , #9100F8  , #FB09B4, #F7E93F);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
}                                   
                                        /* header section  */

    .section-banner {
               background-image: url(../assets/hero-bg.png);
               width: 100%;
               height: 760px;
               background-size:cover;
               background-repeat: no-repeat;

    }


    .banner-section {
        max-width: 550px;
        height: 558px;
        padding-top: 101px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }

     .banner-section-img {
        margin-bottom: 40px;
    } 

    .hero-circle {
        position: relative;
        right: -70px;
    }

    .banner-section-img-microphone {
        position:relative;
        left: -170px;
        top: -90px;
    }

    .new-section {
        border: 1px solid #00FF88;
        width: 75px;
        width: 38px;
        margin: auto;
        background-color: #00FF88;
        border-radius: 1000px;
        position: relative;
        top: -330px;
        right: -95px;
}
       .banner-section h1 {
        font-size: 3.9rem;
        font-weight: 800;
        margin-bottom: 8px;
       }

    .banner-section p{
        font-size: 1rem;
        margin-bottom: 24px;
    } 
    .btn-img-incon {
        margin-right: 8px;
    } 
    .btn-2 {
        background: linear-gradient(to bottom , #9100F8  , #FB09B4, #F7E93F);
        padding: ;
        color: #ffffff;
        border-radius: 1000px;
        font-size: 1rem;
        font-weight: 600;
        height: 44px;
        width: 201px;
        border: none;
        margin-right: 8px;
        cursor: pointer;
}
    .btn-3 {
       height: 44px;
       width: 147px;
       color: #ffffff;
       background: none;
       border: 1px solid #00FF88;
       border-radius: 10000px;
       color: #00FF88;
       font-size: 1rem;
       font-weight: 600;
       cursor: pointer;
}
                        /* main section */
.About-section {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.About-section h1 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 16px;
}

.About-section p {
    font-size: 1rem;
    line-height: 20px;
}
.margin-bt {
    margin-top: 3rem;
}
.About-section-rank {
    display: flex;
    justify-content: space-between;
    margin-top: 10rem;
}

.About-section-rank h1 {
        color: #00FF88;
        font-size: 3rem;
}
.About-section-rank p {
        color: #ffffff;
        font-size: 1rem;
        font-size: 1rem;
        line-height: 20px;
}

                    /* main section 2  */

.Podcast-section {
        max-width: 1200px;
        margin: 0 auto;
        margin-top: 120px;
}
.Podcast-section h1{
    font-size: 3rem ;
    font-weight: bold;
    color: #ffffff;
    margin:0 auto;
    text-align: center;
    margin-bottom: 2.5rem;
}
.Podcast-section-content {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(3 , 1fr);
    grid-template-rows: repeat(3 , 250x);

}

        .narmal-layout {
            grid-column: span 1;
            grid-row:span 2;
        }
        .big-layout {
            grid-column: span 2;
            grid-row:span 1;
        }

        .small-layout {
            grid-column: span 1;
            grid-row:span 1;
        }


.cord-Podcast {
    border-radius: 40px;
    background: rgba(53, 17, 101, 0.4);
    padding: 40px;
}
.Podcast-section-content img {
    margin-bottom: 1rem;
}

.Podcast-section-content h4 {
    color: #ffffff;
    margin-bottom: 1rem;
    font-size: 1.5rem;
}
.Podcast-section-content p{
    color: #ffffff;
    margin-bottom: 1rem;
    font-size: 1rem;
}                               
                                /* main section 3 */

    .episodes-section {
        max-width: 1200px;
        margin: 0 auto;
    }
    .episodes-section h1 {
        color: #ffffff;
        font-size: 3rem;
        font-weight: bold;
        text-align: center;
        margin-top: 120px;
        margin-bottom: 40px;
    }
    .episodes-card-section {
            display: flex;
            justify-content: space-between;
            gap: 30px;
    }
    .card-episodes {
        background-color: #250D44;
        border-radius: 0px 0px 24px 24px;
    }

    .video-episodes {
         width: 100%;
         border-radius: 24px 24px 0px 0px ;
}
    .episodes-card-section-h4{
        color: #ffffff;
        font-size: 1.4rem;
        font-weight: bold;
        margin-top: 24px;
        margin-bottom: 12px;
        padding-left: 24px;
    }
    .episodes-card-section-p {
        color: #ffffff6c;
        font-size: 1rem;
        line-height: 24px;
        padding-left: 24px;
        margin-bottom: 12px;

    }

     .episodes-card-section-p-1 {
        color: #00FF88;
        padding-left: 24px;
        padding-bottom: 24px;
     }


                                            /* main section 3 */

    .host-section {
        max-width: 1200px;
        margin: 120px auto;
    }

    .host-section h1 {
        text-align: center;
        color: #ffffff;
        font-size: 3rem;
        font-weight: bold;
        margin-bottom: 40px;
    }
    .host-section-content {
        display: flex;
        background: #250D44;
        border-radius: 40px;
        height: 17.5rem;
        padding: 1.5rem;
        align-items: center;
        gap: 24px;
}

.host-section-content-h2{
    color: #ffffff;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}
.host-section-content-p{
    color: #ffffff9e;
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 2rem;
}
.host-section-icon-1{
        margin-right: 1rem;
        height: 1.5rem;
        width: 1.5rem;
        background: linear-gradient(to bottom , #9100F8  , #FB09B4, #F7E93F);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
}

.host-icon {
    border: 1px solid #533C72;
    display: inline;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
                                /* footer  */
footer {
    height: 412px;
    background-image: url(../assets/footer-bg.png);
    background-repeat: no-repeat;
    background-size:cover;
    width: 100%;
}

.footer-section {
        max-width: 1200px;
        margin: auto;
        text-align: center;
        padding: 120px;
}
.footer-section h1 {
        color: #ffffff;
        font-size: 4rem;
        margin-bottom: 32px;
}
.footer-icon a{
    text-decoration: none;
    margin-bottom: 32px;
    margin-right: 2.5rem;
    color: #ffffff92;
}
.text-copy {
    color: #ffffff;
    margin-top: 32px;
}

    @media screen and (max-width: 576px){
        
            .hide {
                display: none !important;
            }
            .hide-2 {
                    visibility: visible;
            }

            nav {
                justify-content: space-around;
            }

           .section-banner  {
                background-size: 100%;
                height: 550px;
            }
    .banner-section {
     max-width: 550px;
        height: 500px;
      padding-top: 0;

}

.hero-circle {
    width: 15rem;
}
.banner-section-img-microphone {
    width: 5rem;
    position: relative;
    left: -100px;
    top: -70px;
}
.new-section {
    position: relative;
    top: -220px;
    right: -95px;
}

    .About-section-rank {
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
}

    .margin-bottom {
        margin-bottom: 2rem;
    }

    .Podcast-section-content ,.episodes-card-section {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1 , 1fr);
    gap: 20px;
    
    
}

.host-section {
    margin: 50px auto;
}

.footer-section h1 {
    color: #ffffff;
    font-size: 3rem;
    margin-bottom: 2rem;
}

    .host-section-content {
    display: flex;
    flex-direction: column;
    height: 31.25rem;
    text-align: center;
    gap: 1rem;
}


footer {
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: #250D44;
    
}

.footer-section {
    text-align: center;
    padding: 1rem;
}

.footer-icon {
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
}
.footer-icon a {
    margin-bottom: 32px;
    margin-right:1rem;
    color: #ffffff92;
}
    }